<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="row">
        <div class="card-img col-md-12">
            <img src="https://placeimg.com/380/230/nature" alt="">
            <span>
                <h4>{{position}}</h4>
            </span>
        </div>
        <div class="card-desc col-md-12">
            <div class="row" style="padding-left: 15px; padding-right: 15px;">
                <h3 class="col-md-9">{{destino.nombre}}</h3>
                <span class="col-md-2" *ngIf="destino.isSelected()">
                    <i class="material-icons md-18">favorite</i>
                </span>
                <span class="col-md-3" *ngIf="!destino.isSelected()">
                    <i class="material-icons md-18">favorite_border</i>
                </span>
            </div>
            
            <p>Servicios</p>
            <ul>
                <li *ngFor="let s of destino.servicios">
                    <span [ngSwitch]="s">
                        <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
                        <i *ngSwitchDefault>{{s}}</i>
                    </span>
                </li>
            </ul>
            <div class="row" style="padding-left: 15px; padding-right: 15px;">
                <a href="#" (click)="voteUp()" class="col-md-4 d-flex justify-content-center" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18 col-md-4">thumb_up</i></a>
                <p class="col-md-4 d-flex justify-content-center">{{destino.votes}}</p>
                <a href="#" (click)="voteDown()" class="col-md-4 d-flex justify-content-center" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18">thumb_down</i></a>
                
            </div>
            <div class="row" style="padding-left: 15px; padding-right: 15px;">
                <a href="#" class="btn btn-outline-primary col-md-6 d-flex justify-content-center" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Favorito</a>
                <a href="#" [routerLink]="['/destino', destino.id]" class="btn btn-outline-primary col-md-6 d-flex justify-content-center" (click)="ir()">Ver Detalle</a>
            </div>
            <div class="row" style="padding-left: 15px; padding-right: 15px;">
                <a href="#" class="btn btn-outline-danger waves-effect col-md-6 d-flex justify-content-center" (click)="reiniciarVotos()">Reiniciar votos</a>
                <a href="#" class="btn btn-outline-danger waves-effect col-md-6 d-flex justify-content-center" (click)="eliminarDestino()">Eliminar</a>
            </div>
        </div>
    </div>
</div>